<h1>Add New Employee</h1>

<form action="~/Employee/ActualCreate">

    <label for="Id">Employee Id</label>
    <input type="number" name="Id" />

    <br />
    <hr />
    <br />

    <label for="Name">Employee Name</label>
    <input type="text" name="Name" />

    <br />
    <hr />
    <br />

    <label for="Age">Employee Age</label>
    <input type="number" name="Age" />

    <br />
    <hr />
    <br />

    <label for="Salary">Employee Salary</label>
    <input type="number" name="Salary" />

    <br />
    <hr />
    <br />
    
    <input type="submit" value="Add" class="btn btn-success" />
    <a href="~/Employee/GetAll" class="btn btn-secondary">Cancel</a>
</form>