@model Department

<h1>Department Details</h1>

<div class="card" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title">Department Name: @Model.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Department Id: @Model.Id</h6>
        <a href="~/Department/GetAll" class="btn btn-primary">Back</a>
    </div>
</div>